<h2>Frequently Asked Questions</h2>
<p>
    You can find the FAQ
    <a href="/app/faq">on this page.</a>
</p>

<div class="split"></div>
<h2>Stats & Uptime</h2>
<p>
    <a href="https://uptime.jtoh.pro" target="_blank">Click here to view website uptime. (UptimeRobot)</a>
</p>

<h2>Requests Received</h2>
Note that only requests made for cards are counted.
<br />
<br />

<div id="requestStats">
    <p>
        <b>Today</b>
        <br />
        <span id="requestStatsToday">Loading...</span>
    </p>
    <p>
        <b>This Week</b>
        <br />
        <span id="requestStatsWeek">Loading...</span>
    </p>
    <p>
        <b>This Month</b>
        <br />
        <span id="requestStatsMonth">Loading...</span>
    </p>
    <p>
        <b>This Year</b>
        <br />
        <span id="requestStatsYear">Loading...</span>
    </p>
    <p>
        <b>Total</b>
        <br />
        <span id="requestStatsTotal">Loading...</span>
    </p>
</div>

<img src="" alt="Card Requests Chart" width="500px" height="250px" id="cardRequestChartImage" />

<div class="split"></div>
<h2>Support the project!</h2>
<p>
    You can support
    <b>jtoh.pro</b>
    by
    <a href="https://buymeacoffee.com/lovelyjacob" target="_blank">buying me a coffee</a>
    or by
    <a href="https://www.roblox.com/games/13617492376/LovelyJacobs-Donations" target="_blank">donating Robux.</a>
    <br />
    If you would like to support
    <b><span class="towerstatsUrl">towerstats.com</span></b>
    as well, then you can do so
    <a href="https://www.roblox.com/games/106826240347281/JToH-Tracker-Hub" target="_blank">on Roblox.</a>
</p>
