<div id="footerContainer">
    <a href="/app/docs/terms"><span class="materialSymbolsRounded">contract</span> Terms of Service</a>
    <a href="/app/docs/privacy"><span class="materialSymbolsRounded">policy</span> Privacy Policy</a>
    <!--<a href="/app/docs/cookies"><span class="materialSymbolsRounded">cookie</span> Cookie Policy</a>
    <a href="/app/docs/copyright"><span class="materialSymbolsRounded">copyright</span> Copyright Notice</a>
    <a href="/app/docs/refunds"><span class="materialSymbolsRounded">money_off</span> Refunds and Cancellations</a>
-->
    <br class="footerBreak" />
    <a href="/app/contact"><span class="materialSymbolsRounded">mail</span> Contact</a>
    <a href="/app/credits"><span class="materialSymbolsRounded">groups</span> Credits</a>
    <a href="/app/embed"><span class="materialSymbolsRounded">frame_source</span> Embed</a>
    <br />
    <span id="copyright">
        Created by
        <a href="https://www.roblox.com/users/2614622891/profile" target="_blank">LovelyJacob</a>
        | ©2024 - {{currentYear}}
    </span>
</div>

<!-- Footer AD -->
<div class="adSegment">
    <h2>Ad</h2>
    <div>
        <ins
            class="adsbygoogle"
            style="display: block"
            data-ad-client="ca-pub-8070099883923672"
            data-ad-slot="7907291390"
            data-ad-format="auto"
            data-full-width-responsive="true"
        ></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
