<!--
<div class="split"></div>
<p>
    <a href="/app/terms">Terms</a>
    -
    <a href="/app/privacy">Privacy</a>
    -
    <a href="/app/cookie-policy">Cookie Policy</a>
    -
    <a href="/app/contact">Contact</a>
    -
    <a href="/app/credits">Credits</a>
    <br />
    <span id="copyright">
        Created by
        <a href="https://www.roblox.com/users/2614622891/profile" target="_blank">LovelyJacob</a>
        | ©2024 - {{currentYear}}
    </span>
</p>
-->

<div id="footerContainer">
    <a href="/app/terms"><span class="materialSymbolsRounded">contract</span> Terms of Service</a>
    <a href="/app/privacy"><span class="materialSymbolsRounded">policy</span> Privacy Policy</a>
    <a href="/app/cookie-policy"><span class="materialSymbolsRounded">cookie</span> Cookie Policy</a>
    <br class="footerBreak" />
    <a href="/app/contact"><span class="materialSymbolsRounded">mail</span> Contact</a>
    <a href="/app/credits"><span class="materialSymbolsRounded">groups</span> Credits</a>
    <a href="/app/embed"><span class="materialSymbolsRounded">frame_source</span> Embed</a>
    <br />
    <span id="copyright">
        Created by
        <a href="https://www.roblox.com/users/2614622891/profile" target="_blank">LovelyJacob</a>
        | ©2024 - {{currentYear}}
    </span>
</div>
