<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>jtoh.pro</title>
<link rel="stylesheet" href="/app/styles.css" />
<script src="/app/script.js" defer></script>
<meta property="og:title" content="jtoh.pro" />
<meta
    property="og:description"
    content="Easily share your Juke's Towers of Hell stats on Discord or other social medias with a single link. Includes support for other 'obby tower' related games on Roblox."
/>
<meta property="og:image" content="" />
<meta property="twitter:card" content="summary_large_image" />
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@1" rel="stylesheet" />
