<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>jtoh.pro</title>

<link rel="manifest" href="/manifest.json" />

<template data-name="js"></template>

<link rel="preload" href="/app/css/themes.css" as="style" />
<link rel="preload" href="/app/css/main.css" as="style" />

<link rel="preload" href="/app/assets/Poppins-Regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/app/assets/JetBrainsMono-Regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/app/assets/MaterialSymbolsRounded.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/app/assets/loading-dark.svg" as="image" type="image/svg+xml" />
<link rel="preload" href="/app/assets/loading-light.svg" as="image" type="image/svg+xml" />

<link rel="stylesheet" href="/app/css/themes.css" />
<link rel="stylesheet" href="/app/css/main.css" />
