<!--
<div id="websitesBar">
    <a href="/app/">JToH</a>
    <a href="/app/fangame/cscd/">CSCD</a>
    <a href="/app/fangame/jtohxl/">JToH XL</a>
    <a href="/app/fangame/tea/">TEA</a>
    <a href="/app/fangame/atos/">AToS</a>
    <a href="/app/fangame/jtohxxl/">JToH XXL</a>
</div>
-->

<div id="menuBar">
    <a href="/app/">Home</a>
    <a href="/app/leaderboards">Leaderboards</a>
    <a href="/app/blog">Blog</a>
    <a href="/app/faq">FAQ</a>
    <a href="https://discord.jtoh.pro">
        Discord Server
        <span class="materialSymbolsRounded">open_in_new</span>
    </a>
    <a href="https://discord.com/oauth2/authorize?client_id=1285148080189997107" target="_blank">
        Discord Bot
        <span class="materialSymbolsRounded">open_in_new</span>
    </a>
</div>

<div id="themeContainer">
    <button class="themeChanger" type="button" data-enabled="false" onclick="window.func.updateTheme('themesDark')">
        <span class="materialSymbolsRounded">dark_mode</span>
        Dark
    </button>
    <button class="themeChanger" type="button" data-enabled="false" onclick="window.func.updateTheme('themesLight')">
        <span class="materialSymbolsRounded">light_mode</span>
        Light
    </button>

    <button id="themeChangeOpener" type="button">
        <span class="materialSymbolsRounded">brush</span>
    </button>
    <div id="loggedInDetails"></div>
</div>
