<!--
<div id="websitesBar">
    <a href="/app/">JToH</a>
    <a href="/app/fangame/cscd/">CSCD</a>
    <a href="/app/fangame/jtohxl/">JToH XL</a>
    <a href="/app/fangame/tea/">TEA</a>
    <a href="/app/fangame/atos/">AToS</a>
    <a href="/app/fangame/jtohxxl/">JToH XXL</a>
</div>
-->

<div id="pageProgressBar">
    <div id="pageProgressBarChild"></div>
</div>

<div id="menuBar">
    <a href="/app/">
        <span class="materialSymbolsRounded">home</span>
        Home
    </a>
    <!--<a href="/app/badges">
        <span class="materialSymbolsRounded">award_star</span>
        Badges
    </a>-->
    <a href="/app/leaderboards">
        <span class="materialSymbolsRounded">trophy</span>
        Leaderboards
    </a>
    <a href="/app/blog">
        <span class="materialSymbolsRounded">newspaper</span>
        Blog
    </a>
    <a href="/app/faq">
        <span class="materialSymbolsRounded">help</span>
        FAQ
    </a>
    <a href="https://discord.jtoh.pro">
        Discord Server
        <span class="materialSymbolsRounded">open_in_new</span>
    </a>
    <a href="/discord-bot" target="_blank">
        Discord Bot
        <span class="materialSymbolsRounded">open_in_new</span>
    </a>
</div>

<div id="themeContainer">
    <button class="themeChanger" type="button" data-enabled="false" data-theme="themesDark">
        <span class="materialSymbolsRounded">dark_mode</span>
        Dark
    </button>
    <button class="themeChanger" type="button" data-enabled="false" data-theme="themesLight">
        <span class="materialSymbolsRounded">light_mode</span>
        Light
    </button>

    <button id="themeChangeOpener" type="button"><span class="materialSymbolsRounded">brush</span> Theme</button>
    <div id="loggedInDetails"></div>
</div>
