<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>jtoh.pro</title>
<meta
    name="description"
    content="Easily share your Juke's Towers of Hell stats on Discord or other social medias with a single link. Includes support for other 'obby tower' related games on Roblox."
/>

<link rel="preload" href="/app/script.js" as="script" />
<link rel="preload" href="/app/styles.css" as="style" />
<link rel="preload" href="/app/assets/Poppins-Regular.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/app/assets/JetBrainsMono-Regular.ttf" as="font" type="font/ttf" crossorigin />

<link rel="stylesheet" href="/app/styles.css" />
<script src="/app/script.js" fetchpriority="high"></script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>

<meta property="og:title" content="jtoh.pro" />
<meta
    property="og:description"
    content="Easily share your Juke's Towers of Hell stats on Discord or other social medias with a single link. Includes support for other 'obby tower' related games on Roblox."
/>
<meta property="og:image" content="https://jtoh.pro/app/assets/media-card.png" />
<meta property="twitter:card" content="summary_large_image" />

<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@1&display=swap" rel="stylesheet" />
