<!--
<link rel="modulepreload" href="/app/js/main.ts" />
<link rel="modulepreload" href="/app/js/libs/auth.ts" />
<link rel="modulepreload" href="/app/js/libs/security.ts" />
<link rel="modulepreload" href="/app/js/libs/theme.ts" />
<link rel="modulepreload" href="/app/js/libs/util.ts" />

<link rel="modulepreload" href="/app/js/components/card-info.ts" />

<script src="/app/js/main.ts" fetchpriority="high" type="module" async="false"></script>
!-->

<link rel="modulepreload" href="/api/js?v={{pageId}}" />
<script src="/api/js?v={{pageId}}" fetchpriority="high" type="module" async="false"></script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async="false"></script>
