<meta
    name="description"
    content="Easily share your Eternal Towers of Hell stats on Discord or other social medias with a single link. Includes support for other 'obby tower' related games on Roblox."
/>
<meta property="og:title" content="jtoh.pro" />
<meta
    property="og:description"
    content="Easily share your Eternal Towers of Hell stats on Discord or other social medias with a single link. Includes support for other 'obby tower' related games on Roblox."
/>
<meta property="og:image" content="https://jtoh.pro/app/assets/media-card.png" />
<meta property="twitter:card" content="summary_large_image" />
