.jtoh-pro-container {
    height: auto;
    width: 100%;
    max-width: max-content;
    display: inline-block;
    border-radius: 25px;
    padding: 5px;
    background: #9470d8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.jtoh-pro-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    display: block;
}

.jtoh-pro-info {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    display: inline-block;
    color: #ccc3c3;
    background-color: #4e4166;
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
}

.jtoh-pro-info a {
    color: #71a3e6;
    text-decoration: none;
}

.jtoh-pro-info a:hover {
    text-decoration: underline;
    border: none;
}

.jtoh-pro-share {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    display: inline-block;
    color: #ccc3c3;
    background-color: #4e4166;
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
    border: none;
}

.jtoh-pro-share:hover {
    cursor: pointer;
}
