<div id="pageNavigation">
    <a href="/"
        ><span class="icon">home</span> Home
        <div class="navigationLine"></div
    ></a>
    <a href="/games"
        ><span class="icon">stadia_controller</span> Games
        <div class="navigationLine"></div
    ></a>
    <a href="/leaderboards"
        ><span class="icon">trophy</span> Leaderboards
        <div class="navigationLine"></div
    ></a>
    <a href="/datasets"
        ><span class="icon">folder_data</span> Datasets
        <div class="navigationLine"></div
    ></a>
</div>
