<div id="navigation">
    <img id="logo" src="/assets/jtoh.pro/webp/logo-transparent-crop.webp" alt="jtoh.pro Logo" />
    <div id="pageNavigation">
        <a href="/"
            ><span class="icon">home</span> Home
            <div class="navigationLine"></div
        ></a>
        <a href="/discover"
            ><span class="icon">explore</span> Discover
            <div class="navigationLine"></div
        ></a>
        <a href="/leaderboards"
            ><span class="icon">trophy</span> Leaderboards
            <div class="navigationLine"></div
        ></a>
        <a href="/settings" id="settingsMenuButton"
            ><span class="icon">settings</span> Dashboard
            <div class="navigationLine"></div
        ></a>
        <!-- <a href="/merch"><span class="icon">apparel</span> Merch<div class="navigationLine"></div></a> -->
    </div>
    <div id="accountNavigation">
        <button type="button" id="navigationToggle"><span class="icon">menu</span> Menu</button>
        <span id="loggedInDetails"><a href="/login">Login</a> to unlock more features.</span>
        <button id="themeSwitcher">
            <div id="themeSwitcherBackground"></div>
            <span class="icon">light_mode</span>
            <span class="icon">dark_mode</span>
        </button>
    </div>
</div>
