<div id="navigation">
    <div id="pageNavigation">
        <a href="/"
            ><span class="icon">home</span> Home
            <div class="navigationLine"></div
        ></a>
        <a href="/games"
            ><span class="icon">stadia_controller</span> Games
            <div class="navigationLine"></div
        ></a>
        <a href="/leaderboards"
            ><span class="icon">trophy</span> Leaderboards
            <div class="navigationLine"></div
        ></a>
        <a href="/datasets"
            ><span class="icon">folder_data</span> Datasets
            <div class="navigationLine"></div
        ></a>
        <a href="/merch"
            ><span class="icon">apparel</span> Merch
            <div class="navigationLine"></div
        ></a>
    </div>
    <div id="accountNavigation">
        <span id="loggedInDetails"><a href="/login">Login</a> to unlock more features.</span>
        <button id="themeSwitcher">
            <div id="themeSwitcherBackground"></div>
            <span class="icon">light_mode</span>
            <span class="icon">dark_mode</span>
        </button>
    </div>
</div>
