#container {
    padding: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#container h1:first-of-type {
    color: var(--accent);
    font-size: xx-large;
    border-bottom: solid 2px color-mix(in srgb, var(--accent) 60%, transparent);
    padding-bottom: 10px;
    text-align: center;
}

