#menuBar {
    display: block;
    background-color: var(--background-lighter);
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 15px;
    overflow-x: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    border: solid 2px color-mix(in srgb, var(--accent) 60%, transparent);
    overflow-y: hidden;
}

#menuBar a {
    padding: 5px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
    position: relative;
    display: inline-block;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    max-width: min-content;
    color: var(--color-text);
}

#menuBar a .materialSymbolsRounded {
    color: var(--accent);
}

.menuBarLine {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    width: 30px;
    height: 4px;
    left: calc(50% - 15px);
    background-color: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition-property: width left background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.menuBarActive {
    color: var(--accent) !important;
}

.menuBarActive .menuBarLine {
    background-color: var(--accent);
    left: calc(50% - 30px);
    width: 60px;
}

#menuBar a:hover {
    color: var(--accent);
}

#menuBar a:hover > .menuBarLine {
    background-color: var(--accent);
    left: calc(50% - 30px);
    width: 60px;
}

#themeChanger {
    background-color: transparent;
    color: var(--text);
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    font-size: large;
    display: inline-block;
    margin-right: 10px;
}

#themeChanger:hover {
    color: var(--accent);
}

#menuBarSecondary {
    display: inline-flex;
    text-align: right;
    min-width: max-content;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    margin-top: -10px;
    margin-left: 10px;
}

#loggedInIcon {
    width: auto;
    height: 3ch;
    vertical-align: middle;
    background-color: var(--background-darker);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.menuBarSquareMode {
    margin: 0px !important;
    border-radius: 0px !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}

#menuBar a .notOpenInNewIcon {
    rotate: z -10deg;
    display: inline-block;
    font-size: 3.5ch !important;
    position: absolute;
    left: -13px;
    top: -7px;
    z-index: 1;
    color: var(--background);
    /*
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    */
}

#menuBar a .menuBarTextContent {
    z-index: 2;
    position: relative;
}

/*
.menuBarActive .notOpenInNewIcon {
    color: var(--background-darker) !important;
}

#menuBar a:hover > .notOpenInNewIcon {
    color: var(--background-darker) !important;
}
    */

#menuBarLinks {
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline;
}
