@font-face {
    font-family: 'Poppins';
    src: url('/app/assets/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/app/assets/JetBrainsMono-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'MaterialSymbolsRounded';
    font-display: swap;
    src: url('/app/assets/MaterialSymbolsRounded.woff2') format('woff2');
}

@font-face {
    font-family: 'Twemoji';
    src: url('/app/assets/Twemoji.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'RobotoMono';
    src: url('/app/assets/RobotoMono.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'ArchivoBlack';
    src: url('/app/assets/ArchivoBlack-Regular.ttf') format('truetype');
    font-display: swap;
}

:root {
    --main-font: 'Poppins', 'Twemoji', Arial, sans-serif;
    --code-font: 'JetBrainsMono', 'Twemoji', Consolas, monospace;
    --icon-font: 'MaterialSymbolsRounded', 'Twemoji', Arial, sans-serif;
    --header-font: 'ArchivoBlack', 'Twemoji', Arial, sans-serif;
    --mono-font: 'RobotoMono', 'Twemoji', Consolas, monospace;
    font-family: var(--main-font);
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
}

p,
button,
input,
select,
textarea,
option,
a,
b,
i,
ul,
ol,
li {
    font-family: var(--main-font);
}

code {
    font-family: var(--code-font);
}

.materialSymbolsRounded {
    vertical-align: text-bottom;
    font-family: var(--icon-font);
    font-size: calc(1em + 0.25em);
}
