@import url('https://fonts.googleapis.com/css?family=Actor:700|Actor:400');

:root {
    --text: #0e0c27;
    --background: #ecebf9;
    --primary: #2a226d;
    --secondary: #d07ed7;
    --accent: #a8348f;
}

:root[data-theme='light'] {
    --text: #0e0c27;
    --background: #ecebf9;
    --primary: #2a226d;
    --secondary: #d07ed7;
    --accent: #a8348f;
}

:root[data-theme='dark'] {
    --text: #dad8f3;
    --background: #070614;
    --primary: #9a92dd;
    --secondary: #792881;
    --accent: #cb57b2;
}

body,
html {
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--text);
    overflow: hidden;
}

body,
input,
button,
textarea {
    font-family: 'Actor';
}

#menuBar {
    display: block;
    padding: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

#menuBar p,
#menuBar a {
    display: inline-block;
    font-size: larger;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

#menuBar p {
    margin-right: 10px;
    font-size: x-large;
}

#menuBar a {
    color: var(--primary);
    text-decoration: none;
    margin-right: 5px;
    transition: color 0.5s ease-in-out;
}

#menuBar a:hover {
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
    transition: color 0.5s ease-in-out;
}

.menuBarActiveLink {
    color: var(--secondary) !important;
}

#menuBarDivider {
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: var(--primary);
    margin-right: 10px;
    vertical-align: middle;
}
