/*
    Main CSS file used on every page.
    Consider this the entry point, such as "js/main.ts".

    Authored by Jacob Humston
*/
@use 'fonts.scss';
@use 'colors.scss';
@use 'elements/navigation.scss';

body {
    margin: 0px;
    padding: 0px;
}

pre {
    code {
        display: block;
        padding: 10px;
    }
}

.noTransitions * {
    transition: none !important;
}
