/*
    Main CSS file used on every page.
    Consider this the entry point, such as "js/main.ts".

    Authored by Jacob Humston
*/
@use 'fonts.scss';
@use 'colors.scss';
@use 'elements/navigation.scss';
@use 'elements/notifications.scss';

body {
    margin: 0px;
    padding: 0px;
    position: relative;
}

pre {
    code {
        display: block;
        padding: 10px;
    }
}

.noTransitions * {
    transition: none !important;
}

body::before {
    content: '';
    position: fixed;
    inset: 0; /* Shorthand for top, right, bottom, left: 0 */
    background-image: url('/api/backgrounds/random/url');
    background-size: cover; /* Optional: adjust as needed */
    background-position: center; /* Optional: adjust as needed */
    opacity: 0.05; /* The transparency control */
    z-index: -1; /* Puts the image behind the content */
    height: 100vh;
}
