:root {
    --altcha-border-width: 2px;
    --altcha-border-radius: 15px;
    --altcha-color-base: var(--color-background);
    --altcha-color-border: var(--color-background-lighter);
    --altcha-color-text: var(--color-text);
    --altcha-color-border-focus: var(--color-text);
    --altcha-color-error-text: var(--color-error);
    --altcha-color-footer-bg: var(--color-background);
    --altcha-max-width: 260px;
}

/** Disabled for now... **/
#devBanner {
    display: none;
}

html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--text);
}

a {
    color: var(--blue);
    text-decoration: none;
}

button {
    background-color: var(--accent);
    color: var(--text);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease;
}

button:hover {
    background-color: var(--text);
    color: var(--background);
    cursor: pointer;
}
